.krug{
-moz-border-radius: 50px; /* Firefox */
 -webkit-border-radius: 50px; /* Safari, Chrome */
 -khtml-border-radius: 50px; /* KHTML */
 border-radius: 50px; /* CSS3 */
 behavior: url(border-radius.htc); /*IE */
 } 
